<article class="post-card">
	<div class="post-card__text">
		
		<div>
			<span class="post-card__date">{{date}}</span>
			<span class="bull">&bull;</span>
			<h4 class="post-card__tags">{{tags separator=", "}}</h4>
			<span class="bull">&bull;</span>
			<h4 class="post-card__authors">{{authors}}</h4>
		</div>
		<h3 class="post-card__title"><a href="{{url}}">{{title}}</a></h3>
		<div class="post-card__content">{{content}}</div>
		<a href="{{url}}" class="post-card__a">Go to post 	<span>&#8594;</span></a>
	</div>
	{{#if feature_image}}
		<div class="post-card__image">
			<img src="{{feature_image}}" alt="{{title}}">
		</div>
	{{/if}}
</article>